*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#campo {
    width: 50vw;
    height: 50vw;
    /* margin: auto; */
}
.quadrato{
    width: 5vw;
    height: 5vw;
    float: left;
    background-color: grey;
}
.cella{
    width: 100%;
    height: 100%;
    border: 1px solid purple;
}
.menu{
    width: 10%;
    display: block;
}
body{
    display: flex;
}
.rosso{
    background-color: red;
}